:root {
  --grey-color: rgb(166, 170, 173);
  --bg-form: #2a2a2a;
  --total-black: #000;
  --icon-color: #6c757d;
}

.black-navbar {
  background-color: var(--total-black);
}

.black-form {
  background-color: var(--bg-form);
}

.black-stuff {
  color: var(--total-black);
}

.icon-bg {
  fill: var(--icon-color);
}

.bgGrey {
  background-color: var(--bg-form);
}
